@bus_major



#S
$3









io_networkPortReq_tx_bits_data_data.*
io_networkPortResp_rx_bits_data_data.*

io_networkPortReq_tx_bits_data_addr.*
io_networkPortReq_tx_bits_core.*

io_networkPortReq_tx_ready
io_networkPortResp_rx_ready
io_networkPortReq_tx_valid
io_networkPortResp_rx_valid
io_networkPortReq_tx_bits_data_write

clock
reset
coreId.*

io_networkPortReq_rx_bits_data_write
io_networkPortReq_rx_ready
io_networkPortResp_tx_ready
io_networkPortReq_rx_valid
io_networkPortResp_tx_valid

io_networkPortResp_tx_bits_core.*
io_networkPortReq_rx_bits_core.*

io_networkPortReq_rx_bits_data_addr.*
io_networkPortReq_rx_bits_data_data.*
io_networkPortResp_tx_bits_data_data.*






$3