@bus_major


#E
wr_data_i\[15\]
rd_data_o\[15\]
wr_data_i\[14\]
rd_data_o\[14\]
wr_data_i\[13\]
rd_data_o\[13\]
wr_data_i\[12\]
rd_data_o\[12\]
wr_data_i\[11\]
rd_data_o\[11\]
wr_data_i\[10\]
rd_data_o\[10\]
wr_data_i\[9\]
rd_data_o\[9\]
wr_data_i\[8\]
rd_data_o\[8\]
wr_data_i\[7\]
rd_data_o\[7\]
wr_data_i\[6\]
rd_data_o\[6\]
wr_data_i\[5\]
rd_data_o\[5\]
wr_data_i\[4\]
rd_data_o\[4\]
wr_data_i\[3\]
rd_data_o\[3\]
wr_data_i\[2\]
rd_data_o\[2\]
wr_data_i\[1\]
rd_data_o\[1\]
wr_data_i\[0\]
rd_data_o\[0\]
addr_i.*
clk_i
rst_i
sel_i.*
we_i
wr_data_i\[16\]
rd_data_o\[16\]
wr_data_i\[17\]
rd_data_o\[17\]
wr_data_i\[18\]
rd_data_o\[18\]
wr_data_i\[19\]
rd_data_o\[19\]
wr_data_i\[20\]
rd_data_o\[20\]
wr_data_i\[21\]
rd_data_o\[21\]
wr_data_i\[22\]
rd_data_o\[22\]
wr_data_i\[23\]
rd_data_o\[23\]
wr_data_i\[24\]
rd_data_o\[24\]
wr_data_i\[25\]
rd_data_o\[25\]
wr_data_i\[26\]
rd_data_o\[26\]
wr_data_i\[27\]
rd_data_o\[27\]
wr_data_i\[28\]
rd_data_o\[28\]
wr_data_i\[29\]
rd_data_o\[29\]
wr_data_i\[30\]
rd_data_o\[30\]
wr_data_i\[31\]
rd_data_o\[31\]